<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BILLMANAGER_TC_001()[pri:16, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BILLMANAGER_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BILLMANAGER_TC_002()[pri:17, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BILLMANAGER_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_001()[pri:39, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_002()[pri:40, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_003()[pri:41, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_004()[pri:42, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_005()[pri:43, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BUYAIRTIME_TC_001()[pri:10, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BUYAIRTIME_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BUYAIRTIME_TC_002()[pri:11, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BUYAIRTIME_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BUYAIRTIME_TC_003()[pri:12, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BUYAIRTIME_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_001()[pri:64, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_002()[pri:65, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_003()[pri:66, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_004()[pri:67, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_005()[pri:68, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CONTACTUS_TC_001()[pri:74, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CONTACTUS_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATAANDSMSPLANS_TC_001()[pri:71, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATAANDSMSPLANS_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATAANDSMSPLANS_TC_002()[pri:72, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATAANDSMSPLANS_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATAANDSMSPLANS_TC_003()[pri:73, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATAANDSMSPLANS_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATASMSPLANSSERVICES_TC_001()[pri:51, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATASMSPLANSSERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATASMSPLANSSERVICES_TC_002()[pri:52, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATASMSPLANSSERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATASMSPLANSSERVICES_TC_003()[pri:53, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATASMSPLANSSERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_001()[pri:44, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_002()[pri:45, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_003()[pri:46, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_004()[pri:47, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_005()[pri:48, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_006()[pri:49, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_006</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_007()[pri:50, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_007</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FULIZAMPESA_TC_001()[pri:36, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FULIZAMPESA_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LIPANAMPESA_TC_001()[pri:13, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LIPANAMPESA_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LIPANAMPESA_TC_002()[pri:14, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LIPANAMPESA_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LIPANAMPESA_TC_003()[pri:15, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LIPANAMPESA_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_001()[pri:18, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_002()[pri:19, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_003()[pri:20, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_004()[pri:21, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_005()[pri:22, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_006()[pri:23, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_006</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_007()[pri:24, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_007</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>73</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_008()[pri:25, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_008</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>82</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_009()[pri:26, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_009</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_010()[pri:27, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_010</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>98</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_011()[pri:28, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_011</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_012()[pri:29, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_012</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_013()[pri:30, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_013</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_014()[pri:31, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_014</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:14:16</td>   <td>-111529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOGIN_TC_001()[pri:1, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOGIN_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_001()[pri:88, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_002()[pri:89, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_003()[pri:90, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_004()[pri:91, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_006()[pri:93, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_006</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_007()[pri:94, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_007</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_008()[pri:95, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_008</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_009()[pri:96, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_009</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_010()[pri:97, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_010</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_011()[pri:98, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_011</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_012()[pri:99, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_012</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_013()[pri:100, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_013</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_014()[pri:101, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_014</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_015()[pri:102, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_015</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_016()[pri:103, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_016</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_017()[pri:104, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_017</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_018()[pri:105, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_018</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_019()[pri:106, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_019</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_020()[pri:107, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_020</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_021()[pri:108, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_021</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAGLOBAL_TC_001()[pri:37, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAGLOBAL_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAMYACCOUNT_TC_001()[pri:32, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAMYACCOUNT_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAMYACCOUNT_TC_002()[pri:33, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAMYACCOUNT_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAMYACCOUNT_TC_003()[pri:34, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAMYACCOUNT_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAMYACCOUNT_TC_004()[pri:35, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAMYACCOUNT_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESA_TC_001()[pri:3, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESA_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_001()[pri:75, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_002()[pri:76, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_003()[pri:77, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_004()[pri:78, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_005()[pri:79, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_006()[pri:80, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_006</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_007()[pri:81, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_007</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_008()[pri:82, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_008</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_009()[pri:83, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_009</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_010()[pri:84, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_010</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_011()[pri:85, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_011</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_012()[pri:86, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_012</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_013()[pri:87, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_013</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYDATAUSAGE_TC_001()[pri:70, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYDATAUSAGE_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYSMSSERVICES_TC_001()[pri:54, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYSMSSERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYSMSSERVICES_TC_002()[pri:55, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYSMSSERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.OKOASERVICES_TC_001()[pri:63, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">OKOASERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.ROAMINGSERVICES_TC_001()[pri:60, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">ROAMINGSERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.ROAMINGSERVICES_TC_002()[pri:61, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">ROAMINGSERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.ROAMINGSERVICES_TC_003()[pri:62, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">ROAMINGSERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SAMBAZASERVICES_TC_001()[pri:56, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SAMBAZASERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SAMBAZASERVICES_TC_002()[pri:57, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SAMBAZASERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SAMBAZASERVICES_TC_003()[pri:58, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SAMBAZASERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SENDMONEY_TC_001()[pri:4, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SENDMONEY_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SENDMONEY_TC_002()[pri:5, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SENDMONEY_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SENDMONEY_TC_003()[pri:6, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SENDMONEY_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SERVICES_TC_001()[pri:38, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SFC_TC_001()[pri:2, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SFC_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SKIZASERVICES_TC_001()[pri:59, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SKIZASERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.TUNUKIWA_TC_001()[pri:69, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">TUNUKIWA_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.WITHDRAWCASH_TC_001()[pri:7, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">WITHDRAWCASH_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.WITHDRAWCASH_TC_002()[pri:8, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">WITHDRAWCASH_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.WITHDRAWCASH_TC_003()[pri:9, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">WITHDRAWCASH_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:14:16</td>   <td>-111538</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeClass()[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:14:16</td>   <td>-111531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:14:16</td>   <td>-111754</td> <td title="&gt;&gt;SafaricomReport_sfc.beforeSuite()[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>-215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@464224872</td>   <td></td> </tr>
</table>
