<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:14:16</td>   <td>0</td> <td title="&gt;&gt;SafaricomReport_sfc.beforeSuite()[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:14:16</td>   <td>216</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeClass()[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:14:16</td>   <td>223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:14:16</td>   <td>225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOGIN_TC_001()[pri:1, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOGIN_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SFC_TC_001()[pri:2, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SFC_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESA_TC_001()[pri:3, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESA_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SENDMONEY_TC_001()[pri:4, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SENDMONEY_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SENDMONEY_TC_002()[pri:5, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SENDMONEY_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SENDMONEY_TC_003()[pri:6, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SENDMONEY_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.WITHDRAWCASH_TC_001()[pri:7, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">WITHDRAWCASH_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.WITHDRAWCASH_TC_002()[pri:8, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">WITHDRAWCASH_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.WITHDRAWCASH_TC_003()[pri:9, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">WITHDRAWCASH_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BUYAIRTIME_TC_001()[pri:10, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BUYAIRTIME_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BUYAIRTIME_TC_002()[pri:11, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BUYAIRTIME_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BUYAIRTIME_TC_003()[pri:12, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BUYAIRTIME_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LIPANAMPESA_TC_001()[pri:13, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LIPANAMPESA_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LIPANAMPESA_TC_002()[pri:14, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LIPANAMPESA_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LIPANAMPESA_TC_003()[pri:15, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LIPANAMPESA_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BILLMANAGER_TC_001()[pri:16, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BILLMANAGER_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BILLMANAGER_TC_002()[pri:17, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BILLMANAGER_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_001()[pri:18, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_002()[pri:19, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_003()[pri:20, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_004()[pri:21, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_005()[pri:22, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_006()[pri:23, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_006</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_007()[pri:24, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_007</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_008()[pri:25, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_008</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_009()[pri:26, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_009</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_010()[pri:27, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_010</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_011()[pri:28, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_011</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_012()[pri:29, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_012</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_013()[pri:30, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_013</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_014()[pri:31, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">LOANSANDSAVINGS_TC_014</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAMYACCOUNT_TC_001()[pri:32, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAMYACCOUNT_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAMYACCOUNT_TC_002()[pri:33, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAMYACCOUNT_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAMYACCOUNT_TC_003()[pri:34, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAMYACCOUNT_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAMYACCOUNT_TC_004()[pri:35, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAMYACCOUNT_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FULIZAMPESA_TC_001()[pri:36, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FULIZAMPESA_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MPESAGLOBAL_TC_001()[pri:37, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MPESAGLOBAL_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SERVICES_TC_001()[pri:38, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_001()[pri:39, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_002()[pri:40, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_003()[pri:41, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_004()[pri:42, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.BONGASERVICES_TC_005()[pri:43, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">BONGASERVICES_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>111997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_001()[pri:44, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_002()[pri:45, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_003()[pri:46, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_004()[pri:47, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_005()[pri:48, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_006()[pri:49, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_006</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.FLEXSERVICES_TC_007()[pri:50, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">FLEXSERVICES_TC_007</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATASMSPLANSSERVICES_TC_001()[pri:51, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATASMSPLANSSERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATASMSPLANSSERVICES_TC_002()[pri:52, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATASMSPLANSSERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATASMSPLANSSERVICES_TC_003()[pri:53, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATASMSPLANSSERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYSMSSERVICES_TC_001()[pri:54, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYSMSSERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYSMSSERVICES_TC_002()[pri:55, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYSMSSERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SAMBAZASERVICES_TC_001()[pri:56, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SAMBAZASERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SAMBAZASERVICES_TC_002()[pri:57, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SAMBAZASERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SAMBAZASERVICES_TC_003()[pri:58, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SAMBAZASERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.SKIZASERVICES_TC_001()[pri:59, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">SKIZASERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.ROAMINGSERVICES_TC_001()[pri:60, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">ROAMINGSERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.ROAMINGSERVICES_TC_002()[pri:61, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">ROAMINGSERVICES_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.ROAMINGSERVICES_TC_003()[pri:62, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">ROAMINGSERVICES_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.OKOASERVICES_TC_001()[pri:63, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">OKOASERVICES_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_001()[pri:64, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_002()[pri:65, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_003()[pri:66, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_004()[pri:67, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CHECKBALANCE_TC_005()[pri:68, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CHECKBALANCE_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.TUNUKIWA_TC_001()[pri:69, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">TUNUKIWA_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYDATAUSAGE_TC_001()[pri:70, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYDATAUSAGE_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATAANDSMSPLANS_TC_001()[pri:71, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATAANDSMSPLANS_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATAANDSMSPLANS_TC_002()[pri:72, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATAANDSMSPLANS_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.DATAANDSMSPLANS_TC_003()[pri:73, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">DATAANDSMSPLANS_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.CONTACTUS_TC_001()[pri:74, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">CONTACTUS_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_001()[pri:75, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_002()[pri:76, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_003()[pri:77, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_004()[pri:78, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_005()[pri:79, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_005</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_006()[pri:80, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_006</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_007()[pri:81, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_007</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_008()[pri:82, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_008</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_009()[pri:83, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_009</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_010()[pri:84, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_010</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_011()[pri:85, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_011</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_012()[pri:86, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_012</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MYACCOUNT_TC_013()[pri:87, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MYACCOUNT_TC_013</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_001()[pri:88, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_001</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_002()[pri:89, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_002</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_003()[pri:90, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_003</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_004()[pri:91, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_004</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_006()[pri:93, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_006</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_007()[pri:94, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_007</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_008()[pri:95, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_008</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_009()[pri:96, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_009</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_010()[pri:97, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_010</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_011()[pri:98, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_011</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_012()[pri:99, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_012</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_013()[pri:100, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_013</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_014()[pri:101, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_014</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_015()[pri:102, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_015</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_016()[pri:103, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_016</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112392</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_017()[pri:104, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_017</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_018()[pri:105, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_018</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_019()[pri:106, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_019</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_020()[pri:107, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_020</td> 
  <td>main@464224872</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/09/20 17:16:08</td>   <td>112418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.MENU_TC_021()[pri:108, instance:com.safaricom.report.SafaricomReport_sfc@4bd31064]">MENU_TC_021</td> 
  <td>main@464224872</td>   <td></td> </tr>
</table>
