<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.safaricom.report.SafaricomReport_sfc</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MPESA_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LIPANAMPESA_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LIPANAMPESA_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LIPANAMPESA_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ROAMINGSERVICES_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ROAMINGSERVICES_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ROAMINGSERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYSMSSERVICES_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYSMSSERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BILLMANAGER_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SFC_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BILLMANAGER_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OKOASERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BONGASERVICES_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BONGASERVICES_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BONGASERVICES_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_013</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BONGASERVICES_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BONGASERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>WITHDRAWCASH_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>WITHDRAWCASH_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>WITHDRAWCASH_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TUNUKIWA_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SKIZASERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DATAANDSMSPLANS_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOGIN_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DATAANDSMSPLANS_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DATAANDSMSPLANS_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BUYAIRTIME_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BUYAIRTIME_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SAMBAZASERVICES_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SAMBAZASERVICES_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SAMBAZASERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BUYAIRTIME_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_014</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LOANSANDSAVINGS_TC_013</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MPESAGLOBAL_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CHECKBALANCE_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CHECKBALANCE_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CHECKBALANCE_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CHECKBALANCE_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CHECKBALANCE_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DATASMSPLANSSERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DATASMSPLANSSERVICES_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DATASMSPLANSSERVICES_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FLEXSERVICES_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FLEXSERVICES_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FLEXSERVICES_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FLEXSERVICES_TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FLEXSERVICES_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FLEXSERVICES_TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FLEXSERVICES_TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_020</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_021</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYDATAUSAGE_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_017</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_018</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_015</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_016</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_013</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_014</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MENU_TC_019</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CONTACTUS_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MPESAMYACCOUNT_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MPESAMYACCOUNT_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MPESAMYACCOUNT_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MPESAMYACCOUNT_TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SENDMONEY_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SENDMONEY_TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SENDMONEY_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MYACCOUNT_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FULIZAMPESA_TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
