<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:38:16</td>   <td>0</td> <td title="&gt;&gt;SafaricomReport_sfc.beforeSuite()[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:38:16</td>   <td>233</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeClass()[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:38:16</td>   <td>243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:38:16</td>   <td>246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_007()[pri:24, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">LOANSANDSAVINGS_TC_007</td> 
  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:38:54</td>   <td>38263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:38:54</td>   <td>38265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:38:54</td>   <td>38266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_008()[pri:25, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">LOANSANDSAVINGS_TC_008</td> 
  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:39:19</td>   <td>63194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:39:24</td>   <td>68330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:39:24</td>   <td>68330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_009()[pri:26, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">LOANSANDSAVINGS_TC_009</td> 
  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:39:40</td>   <td>83845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:39:40</td>   <td>83846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:39:40</td>   <td>83846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_010()[pri:27, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">LOANSANDSAVINGS_TC_010</td> 
  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:39:48</td>   <td>92332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:39:48</td>   <td>92333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:39:48</td>   <td>92333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_011()[pri:28, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">LOANSANDSAVINGS_TC_011</td> 
  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:40:13</td>   <td>117374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:40:13</td>   <td>117375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:40:13</td>   <td>117375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_012()[pri:29, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">LOANSANDSAVINGS_TC_012</td> 
  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:40:42</td>   <td>146116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:40:47</td>   <td>151311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:40:47</td>   <td>151311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_013()[pri:30, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">LOANSANDSAVINGS_TC_013</td> 
  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:41:06</td>   <td>170265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:41:11</td>   <td>175390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport_sfc.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:41:11</td>   <td>175391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport_sfc.LOANSANDSAVINGS_TC_014()[pri:31, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">LOANSANDSAVINGS_TC_014</td> 
  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:41:30</td>   <td>193967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport_sfc.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/04 16:41:30</td>   <td>194045</td> <td title="&lt;&lt;SafaricomReport_sfc.endReport()[pri:0, instance:com.safaricom.report.SafaricomReport_sfc@609bcfb6]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@79644918</td>   <td></td> </tr>
</table>
