<h2>Methods that were not run</h2><table>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MPESAMYACCOUNT_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MPESAMYACCOUNT_TC_004</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.FLEXSERVICES_TC_006</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.FLEXSERVICES_TC_007</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.FLEXSERVICES_TC_004</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MPESAMYACCOUNT_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.FLEXSERVICES_TC_005</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.FLEXSERVICES_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.FLEXSERVICES_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.SKIZASERVICES_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.WITHDRAWCASH_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.FLEXSERVICES_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.WITHDRAWCASH_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.WITHDRAWCASH_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MPESAMYACCOUNT_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BUYAIRTIME_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.FULIZAMPESA_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.SENDMONEY_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.SENDMONEY_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LOGIN_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BUYAIRTIME_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.SENDMONEY_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BUYAIRTIME_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_008</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_006</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_009</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_007</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_006</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_004</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_007</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_004</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_005</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYSMSSERVICES_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LOANSANDSAVINGS_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LOANSANDSAVINGS_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LOANSANDSAVINGS_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYSMSSERVICES_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LOANSANDSAVINGS_TC_005</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LOANSANDSAVINGS_TC_004</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_008</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MPESA_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_009</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LIPANAMPESA_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LIPANAMPESA_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_011</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LIPANAMPESA_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_012</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_010</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_010</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_017</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_018</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_015</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_016</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_013</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_014</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYACCOUNT_TC_013</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_011</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_012</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_019</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BILLMANAGER_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.SFC_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BILLMANAGER_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_020</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MENU_TC_021</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.TUNUKIWA_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.CONTACTUS_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.SAMBAZASERVICES_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.SAMBAZASERVICES_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.SAMBAZASERVICES_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.SERVICES_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.LOANSANDSAVINGS_TC_006</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.DATAANDSMSPLANS_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.DATAANDSMSPLANS_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.DATAANDSMSPLANS_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.ROAMINGSERVICES_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.CHECKBALANCE_TC_004</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.CHECKBALANCE_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.CHECKBALANCE_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.DATASMSPLANSSERVICES_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.CHECKBALANCE_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.DATASMSPLANSSERVICES_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.DATASMSPLANSSERVICES_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MPESAGLOBAL_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.ROAMINGSERVICES_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.CHECKBALANCE_TC_005</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.ROAMINGSERVICES_TC_003</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BONGASERVICES_TC_005</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BONGASERVICES_TC_002</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BONGASERVICES_TC_004</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.MYDATAUSAGE_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BONGASERVICES_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.OKOASERVICES_TC_001</td></tr>
<tr><td>com.safaricom.report.SafaricomReport_sfc.BONGASERVICES_TC_003</td></tr>
</table>